.content {
  margin-left: 20px;
  margin-top: 15px;
}

.list {
  font-family: 'Bebas Neue';
  font-size: 24px;
  color: rgb(255, 0, 0, 0.7);
}

.list::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 90px;
  top: 147px;
  width: 2px;
  height: 96%;
  background-color: rgb(255, 0, 0, 0.7);
}

.item {
  position: relative;
  /* margin-bottom: 33px; */
}

.item:not(:last-child) {
  margin-bottom: 33px;
}

.item::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 5px;
  left: 63px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
}
