@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300&display=swap');

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand/static/Quicksand-Light.ttf') format('.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Quicksand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/TimeLine_1.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
}

li:hover body {
  filter: blur(2px);
}

h1,
h2 {
  margin: 0;
}
